<img class="avatar img-responsive" alt="" src="assets/img/avatar1.jpg">
  <div class="message">
    <span class="arrow"></span>
    <a href="#" class="name">Bob Nilson</a>
    <span class="datetime">at Jul 25, 2012 11:09</span>
    <span class="body">
      {{text}}
    </span>
  </div>