<div class="login" style="">
  <!-- BEGIN LOGO -->
  <div class="logo">
    <img src="img/logo-big.png" alt=""> 
  </div>
  <!-- END LOGO -->
  <!-- BEGIN LOGIN -->
  <div class="content">
    <!-- BEGIN LOGIN FORM -->
    <form class="login-form" action="index.html" method="post" novalidate="novalidate">
      <h3 class="form-title">Connect</h3>
      <div class="form-group">
        
      </div>
      <div class="form-actions">
        <button type="button" class="btn green" id="connect_google">
          <i class="fa fa-google-plus fa-2x"></i> Connect
        </button>
        
      </div>
    </form>
    <!-- END LOGIN FORM -->        
  </div>
  <!-- END LOGIN -->
  <!-- BEGIN COPYRIGHT -->
  <div class="copyright">
    2013 © Metronic. Admin Dashboard Template.
  </div>
  <!-- END COPYRIGHT -->
<!-- END BODY -->
</div>