<body class="page-header-fixed">
    <!-- BEGIN HEADER -->
    <div class="header navbar navbar-inverse navbar-fixed-top">
        <!-- BEGIN TOP NAVIGATION BAR -->
        <div class="header-inner">
            <!-- BEGIN LOGO -->
            <a class="navbar-brand" href="index.html">
                <img src="img/logo.png" alt="logo" class="img-responsive" />
            </a>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <img src="img/menu-toggler.png" alt="" />
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <div id="account_nav"></div>
        </div>

        <!-- END TOP NAVIGATION BAR -->
    </div>
    <!-- END HEADER -->
    <div class="clearfix"></div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar navbar-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
            <ul class="page-sidebar-menu">
                <li>
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler hidden-phone"></div>
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                </li>

                <li>
                    <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                    <form class="sidebar-search" action="extra_search.html" method="POST">
                        <div class="form-container">
                            <div class="input-box">
                                <a href="javascript:;" class="remove"></a>
                                <input type="text" placeholder="Search...">
                                <input type="button" class="submit" value=" ">
                            </div>
                        </div>
                    </form>
                    <!-- END RESPONSIVE QUICK SEARCH FORM -->
                </li>

                <li class="">
                    <a href="#">
                        <i class="fa fa-clock-o"></i>
                        <span class="title">Today</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="login.html">
                        Login Form 1              </a>
                        </li>
                        <li>
                            <a href="login_soft.html">
                        Login Form 2              </a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="#inbox_outbox">
                        <i class="fa fa-envelope"></i>
                        <span class="title">Inbox/outbox</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="table_basic.html">
                        Basic Tables              </a>
                        </li>
                        <li>
                            <a href="table_responsive.html">
                        Responsive Tables             </a>
                        </li>
                        <li>
                            <a href="table_managed.html">
                        Managed Tables              </a>
                        </li>
                        <li>
                            <a href="table_editable.html">
                        Editable Tables             </a>
                        </li>
                        <li>
                            <a href="table_advanced.html">
                        Advanced Tables             </a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="#notification">
                        <i class="fa fa-calendar"></i>
                        <span class="title">Notification</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="portlet_general.html">
                        General Portlets              </a>
                        </li>
                        <li>
                            <a href="portlet_draggable.html">
                        Draggable Portlets              </a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="#tasks">
                        <i class="fa fa-file"></i>
                        <span class="title">Tasks</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="maps_google.html">
                        Google Maps             </a>
                        </li>
                        <li>
                            <a href="maps_vector.html">
                        Vector Maps             </a>
                        </li>
                    </ul>
                </li>

            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN PAGE -->
        <div id="page-content" class="page-content">
        </div>
        <!-- END PAGE -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="footer-panel">
    </div>
    <div class="footer">
        <div class="footer-inner">
            2013 &copy; Metronic by keenthemes.
        </div>
        <div class="footer-tools">
            <span class="go-top">
                <i class="fa fa-angle-up"></i>
            </span>
        </div>
    </div>
    <!-- END FOOTER -->
</body>
