<div class="portlet">
  <div class="portlet-body" id="chats" style="margin-top:20px;">
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto;">
      <div class="scroller" style="overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible1="1">
        <ul id="comments-list" class="chats">
        </ul>
      </div>
    </div>
    <div class="chat-form">
      <div class="input-cont">
        <input class="form-control" type="text" placeholder="Type a message here..."></input>
      </div>
      <div class="btn-cont">
        <span class="arrow"></span>
        <a href="" class="btn blue icn-only">
          <i class="fa fa-check icon-white"></i>
        </a>
      </div>
    </div>
  </div>
</div>